doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/header/header
include ../modules/hero/hero
include ../modules/about/about
include ../modules/use-cases/use-cases
include ../modules/effective/effective
include ../modules/formats/formats
include ../modules/drove/drove
include ../modules/page/page
include ../modules/impact/impact
include ../modules/say/say
include ../modules/join/join
include ../modules/footer/footer

head
    +head(head.defaults)
body.page

    section.page__wrapper

        //- Include your modules here
        +header()
        
        +hero()
        
        +about()
        
        +use-cases()
        
        +effective()
        
        +formats()
        
        +drove()
        
        +page()
        
        +impact()
        
        +say()
        
        +join()

        .page__buffer

    .page__footer
        +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
|</html>
