// Common styles of the project

html
    box-sizing border-box

*,
*:before,
*:after
    box-sizing inherit

html, body
    height 100%

body
    font-family 'Proxima Nova Rg'
    font-size 14px
    color text-color

img
  max-width 100%


.page
    // Стили для body

.page__wrapper
    min-height 100%
    margin-bottom -50px


* html .page__wrapper
    height 100%

.page__buffer
    height 50px

.container
    width 100%
    max-width 1120px
    margin 0 auto
    m-cf()

section
  font-size 23px
  position relative

.h1
    font-family 'ProximaNova-Light'
    font-size 1.91em //44px
    line-height 50px

h3
    font-size .87em //20px
    color h3-color

.leading-text
    position relative
    margin-top 3.34em //~77px

    &:after
        content ''
        width 40px
        height 3px
        background rgba(255, 255, 255, .37)
        position absolute
        left 50%
        margin-left -20px
        top -1.52em //-35px

.avatar
    border-radius 50%

@media screen and (max-width: 1120px)
  .container
    padding 0 10px
