@font-face
  font-family: 'Proxima Nova Rg'
  src: url('../fonts/ProximaNova-Regular.eot')
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg')

  font-style:   normal
  font-weight:  400

@font-face
  font-family: 'Proxima Nova Sb'
  src: url('../fonts/ProximaNova-Semibold.eot')
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0') format('svg')

  font-style:   normal
  font-weight:  700

@font-face
  font-family: 'Proxima Nova Lt'
  src: url('../fonts/ProximaNova-Light.eot')
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d') format('svg')

  font-style:   normal
  font-weight:  200
