a
    font-family 'ProximaNova-Semibold'
    color menu-color
    text-decoration none
    font-size 14px
    font-style normal
    letter-spacing 1px

.btn
    display inline-block
    padding .7em .9em //10px 13px
    text-transform uppercase
    border-radius 3px
    letter-spacing .9px

    &--orange
        background orange-color
        color #fff

    &--hero
        background rgba(0 0 0, 0.32)
        color #fff
        padding .8em 1.14em // 11px 16px

.btn--round
    background dark-blue-color
    border-radius 40px
