mixin use-cases(data)
    section#caseStudy.use-cases.section-full
        .container
            h3.use-cases__header InterContinental Hotels Group uses Releasd for:
            
            .use-cases__item
                img(src="%=staticPrefix=%img/content/monthly-reports.svg", alt="")
                p.use-cases__text Monthly 
                    br
                    | Coverage Reports
            .use-cases__item
                img(src="%=staticPrefix=%img/content/campaign.svg", alt="")
                p.use-cases__text Campaign 
                    br
                    | Wrap-ups
            .use-cases__item
                img(src="%=staticPrefix=%img/content/event.svg", alt="")
                p.use-cases__text Event 
                    br
                    | Summaries
            .use-cases__item
                img(src="%=staticPrefix=%img/content/board.svg", alt="")
                p.use-cases__text Board 
                    br
                    | Updates
            .use-cases__item
                img(src="%=staticPrefix=%img/content/managing.svg", alt="")
                p.use-cases__text Managing 
                    br
                    | Agency Reports
                    
            a.scroll.scroll-dark(href="#effective")
