.use-cases
    background #e3e3e3
    text-align center
    padding-top 3.04em //70px

    h3
        font-size 28px
        color purple-color
        margin-bottom 67px

.use-cases__item
    display inline-block
    width 32.3333%
    font-size 18px
    color h3-color
    margin-bottom 1.666em //30px

.scroll-dark
    border-color #d3d3d3
    margin 110px auto 0

    &:after
        border-color #d3d3d3
