mixin say(data)
    section#say.say
        .say__item
            .container
                .say__header
                    h2 What would you say to others considering adopting Releasd?
                
                    .say__user
                        .say__user-item
                            img(src="%=staticPrefix=%img/content/hero-img.png", alt="" width="62px")
                        .say__user-item
                            img.avatar(src="%=staticPrefix=%img/content/user.jpg", alt="" width="54px")
                    
                .say__content
                    p Be the first person to champion it in your business, and bring about all that good change!
