.say

    &__item
        width 100%
        display table
        padding 89px 0 112px
        background url('../img/content/say-bg.jpg')
        background-size 100% auto
    .container
         position relative
    &__header,
    &__content
        display table-cell
        width 50%

    &__content
        position relative
        padding-bottom 112px
        p
            font-family 'Proxima Nova Sb'
            font-size 50px
            line-height 53px
            color #fff
            position relative
            padding 0 48px
            margin 0
            &:after
                content ''
                bg-svg($quote-up)
                position absolute
                top -48px
                left 48px
            &:before
                content ''
                bg-svg($quote-down)
                position absolute
                bottom -48px
                left 48px
        &:before
            content ''
            width 0
            height 0
            border-style solid
            border-width 19.5px 18px 19.5px 0
            border-color transparent blue-color transparent transparent
            position absolute
            left -18px
            bottom 50px

    h2
        font-family 'Proxima Nova Lt'
        font-size 50px
        line-height 53px
        color purple-color
        margin 0

.say__user
    display table
    width 148px
    position absolute
    left 50%
    margin-left -166px
    bottom 25px

.say__user-item
    width 50%
    display table-cell
    vertical-align middle
    width 74px
    text-align center
    padding 12px 0
    &:first-child
        border-right 3px solid #e3e3e3
