.join
    padding 53px 0
    background purple-color

    &__logos
        m-cf()
        width 324px
        float left

.join__logo
    width 162px
    height 162px
    border-radius 50%
    float left
    position relative
    background rgba(255, 255, 255, .9)
    float left
    z-index 2

    &:last-child
        left -20px
        background rgba(255, 255, 255, .5)
        z-index 1

    img
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

.join__content
    font-family 'Proxima Nova Sb'
    font-size 20px
    line-height 23px
    text-align center
    color #fff

    p
        margin-bottom 40px

.video-icon
    bg-svg($video-icon)
