mixin join(data)
    section.join
        .container
            .join__logos
                .join__logo
                    img(src="%=staticPrefix=%img/content/hero-img.png", alt="" width="94px")
                .join__logo
                    img(src="%=staticPrefix=%img/minified-svg/logo.svg", alt="" width="93px")
                    
            .join__content
                p Join InterContinental Hotels Group and other world-class comms teams in Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.btn.btn--hero(href="http://releasd.com/tour")
                    i.video-icon
                    | BOOK A LIVE DEMO
