.about
    text-align center
    .container
        padding-top 5em //115px

.about__content
    display table
    width 100%
    table-layout fixed

.about__item
    display table-cell
    width 50%
    padding 2.39em 0 2.17em //55px 0 50px

    &:first-child
        padding-right 5.9em //137px
        border-right 3px solid #e3e3e3

    &:last-child
        padding-left 5.9em //137px

.about__item-text
  font-size .6em //14px
  line-height 1.6

.scroll
    display block
    width 80px
    height 80px
    border-radius 50%
    border 3px solid #e3e3e3
    position absolute
    left 50%
    margin-left -40px
    bottom 30px

    &:after
        content ''
        width 23px
        height 23px
        border-bottom 3px solid #e3e3e3
        border-left 3px solid #e3e3e3
        border-radius 3px
        transform rotate(-45deg)
        position absolute
        left 50%
        top 40%
        margin-top -11px
        margin-left -11px
