mixin about(data)
    section.about.section-full
        .container
            .about__content
                .about__item
                    .about__item-header
                        img(src="%=staticPrefix=%img/content/hero-img.png", alt="")
                        h3 InterContinental Hotels Group
                        
                    p.about__item-text
                        | IHG is one of the world’s leading hotel companies, with brands including InterContinental® Hotels & Resorts, Holiday Inn®, Holiday Inn Express®, Crowne Plaza® Hotels & Resorts and Hotel Indigo®. Present in nearly 100 countries, it has 168 million guests staying in 727,000 rooms in over 4,900 hotels per year.
                        
                .about__item
                    .about__item-header
                        img(src="%=staticPrefix=%img/content/user.jpg", alt="")
                        h3 Emily Sexton, PR Manager, Europe
                        
                    p.about__item-text
                        | Emily oversees Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ornare tristique ullamcorper. Curabitur luctus pharetra interdum. Aenean a sapien eu nunc mollis hendrerit vit at IHG.  Prior to this, she worked agency-side with both Ketchum and Freud Communications.
                        
            a.scroll(href="#caseStudy")
