footer
    background blue-color
    padding-top 55px

    .btn
        text-transform none

.footer__menu
    m-nl()

    li
        display inline-block
        float left
        width 20%
        text-align center

    a
        color #fff
        font-family 'Proxima Nova Rg'

    .mail
        color #6baab9

.mail-footer
    bg-svg($mail-footer-icon)

.phone-footer
    bg-svg($phone-icon-footer)

.twitter
    bg-svg($twitter-icon)

.footer__bottom
    background dark-blue-color
    padding 30px 0 19px
    margin-top 51px
    color #BAC4C6
    text-align center
    font-family 'Proxima Nova Rg'
    font-size 12px

    a
        color #BAC4C6
        font-family 'Proxima Nova Rg'
        font-size 12px
        margin-left 20px
