mixin footer(data)
    footer
        .container
            ul.footer__menu
                li
                    a.btn.btn--round(href="http://releasd.com/tour")
                        i.mail-footer
                        | Contact Sales
                        
                li        
                    a.btn.btn--round(href=" http://support.releasd.com")
                        i.mail-footer
                        | Contact Support
                        
                li
                    a.btn(href="tel:+44 020 7424 7922")
                        i.phone-footer
                        | UK: +44 020 7424 7922
                    
                li
                    a.btn(href="tel:1-212-545-2344")
                        i.phone-footer
                        | US: 1-212-545-2344
                    
                li
                    a.btn(href="#")
                        i.twitter
                        | TeamReleasd
                        
        .footer__bottom
            
            p
                | &copy;2015 Releasd. All rights reserved.     
                a(href="http://releasd.com/terms-of-use") Terms of Use
                
