.drove
    background url('../img/content/drove-bg.jpg')
    background-size cover
    text-align center
    color #fff
    padding-top 3.26em

    &__content
        width 82%
        margin 0 auto

    h2
        font-size 1.74em //40px
        line-height 43px
        color green-color
        margin 0 0 1.05em

.mouse
    font-size 18px
    color rgba(255, 255, 255, .5)
    position absolute
    left 50%
    transform translateX(-50%)
    bottom 60px

.mouse-icon
    width 26px
    height 42px
    border-radius 35px
    border 1px solid #fff
    position absolute
    left 50%
    margin-left -13px
    margin-right 0
    top -51px
    opacity .2

    &:after
        content ''
        width 4px
        height 8px
        border-radius 12px
        background #fff
        position absolute
        top 5px
        left 50%
        margin-left -2px

.scroll-icon
    bg-svg($scroll-icon)
    position absolute
    left 50%
    margin-left -6px
    bottom -37px
