mixin drove(data)
    section#drove.drove.section-full
        .container
            .drove__content
                h2 What first drove you to explore Releasd?
                
                .user-sep
                    img.avatar(src="%=staticPrefix=%img/content/user.jpg", alt="")
                    
                p.quote “I loved the idea that we could be a pioneering team within our business and bring about a new way of reporting; that we could be famous for tackling an issue that impacts so many people within the business.”
                
                p.quote__after.leading-text “We deal with so many different agencies and different markets, with different people who are at different levels of English and it was a pain to report back on all of our work. The consistency that Releasd offered was very attractive.”
                
                .quote-sep
                    img(src="%=staticPrefix=%img/minified-svg/quote-icon.svg", alt="" width="25px")

                
                .mouse scroll down to see one of IHG’s Releasd Pages
                    i.mouse-icon
                    i.scroll-icon
