.effective
    background url("../img/content/effective-bg.jpg")
    background-size cover
    color #fff

    h2
        color orange-color
        font-size 40px
        line-height 43px

    .scroll
        border-color rgba(255, 255, 255, .2)
        &:after
            border-color rgba(255, 255, 255, .2)

.user-sep
    position relative
    &:after
        content ''
        width calc(50% - 38px)
        height 1px
        background rgba(255, 255, 255, .2)
        position absolute
        top 50%
        left 50%
        margin-left 38px

    &:before
        content ''
        width calc(50% - 38px)
        height 1px
        background rgba(255, 255, 255, .2)
        position absolute
        top 50%
        margin-top -1px
        left 0

    img
        max-width 54px

.quote
    font-size 26px
    line-height 32px

.quote__after
    font-size 20px
    line-height 25px
    padding 0 3.5em

.quote-sep
    opacity .22
    position relative
    &:after
        content ''
        width 38%
        height 1px
        background rgba(255, 255, 255, .22)
        position absolute
        top 40%
        margin-top -1px
        left 50%
        margin-left 25px
    &:before
        content ''
        width 38%
        height 1px
        background rgba(255, 255, 255, .22)
        position absolute
        top 40%
        margin-top -1px
        right 50%
        margin-right 25px
