mixin effective(data)
    section#effective.effective.section-full
        .container
            .section-hero__text
                h2 Why is effective reporting important to you?
                
                .user-sep
                    img.avatar(src="%=staticPrefix=%img/content/user.jpg", alt="")
                    
                p.quote “Firstly, if you can show the value of what you're bringing to the business, it may mean that you are entrusted with bigger budgets, and more scope to do bigger and better things next time around. It's almost like an internal new business opportunity.”
                
                p.quote__after.leading-text “Secondly, it’s still that educational piece. Some people don't necessarily understand what PR is and what it's doing for the business.”
                
                .quote-sep
                    img(src="%=staticPrefix=%img/minified-svg/quote-icon.svg", alt="" width="25px")
                
                a.scroll(href="#formats")
