mixin impact(data)
    section.impact.section-full
        .container
            .section-hero__text
                h2 What impact has Releasd had?
                
                .user-sep
                    img.avatar(src="%=staticPrefix=%img/content/user.jpg", alt="")
                
                p.quote “The simplicity of Releasd just means that everyone finds it much easier to do their job.”
                
                p.quote__after.leading-text “The fact that we’re able to showcase everything in one space without forcing our stakeholders to go through 130 slides definitely helps demonstrate the work that the comms team does more efficiently.”
                
                p.quote__after Now people actually open our reports and think ‘Oh, brilliant, the next installment from the comms team. This is going to be an enjoyable and engaging thing to read!’”
                
                .quote-sep
                    img(src="%=staticPrefix=%img/minified-svg/quote-icon.svg", alt="" width="25px")
                
                a.scroll(href="#say")
