.impact
    background url('../img/content/impact.jpg')
    background-size cover
    padding-top 0.21em //3.21em 0 2.43em //74px 0 56px
    color #fff

    .section-hero__text
        float right

    h2
        color orange-color
        font-size 1.74em //40px
        line-height 43px
