.formats
    padding 70px 0
    font-size 16px
    line-height 23px
    .section-hero__text
        text-align left
    h2
        color light-purple-color
        font-size 40px
        line-height 42px
        margin 0 0 26px

    span
        display inline-block
        font-size 20px
        margin-bottom 43px

    h3
        color bluish-color

    .section-hero__img
        img
            position relative
            left 0
            top 0
            margin-top 0
            transform none

    p + p
        margin-top 30px
