mixin formats(data)
    section#formats.formats.section-full
        .container
            .section-hero__text
                h2 What formats were you 
                    br
                    | using prior to Releasd?
                span “PowerPoint, and Word, and Excel.”
                h3 What challenges did those formats present?
                p “They’re pretty outdated. Reports should be exciting. ‘Let's see our business being talked about in a positive way in the media, in titles that we see and read everyday.’ But we didn’t stand out from all of the other documents and reports that are circulated internally. As you can imagine, there are lots of them flying about.”
                p “Also, people look to us for innovation and creativity. That's part and parcel of our job, and if we're not presenting things in a way that demonstrates that, then they may question our ability to actually come up with the stories in the first place.”
            
            .section-hero__img
                img(src="%=staticPrefix=%img/content/formats.jpg", alt="")
                
            a.scroll(href="#drove")
