/* normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif /* 1 */;
  -ms-text-size-adjust: 100% /* 2 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block /* 1 */;
  vertical-align: baseline /* 2 */;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit /* 1 */;
  font: inherit /* 2 */;
  margin: 0 /* 3 */;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button /* 2 */;
  cursor: pointer /* 3 */;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  border: 0 /* 1 */;
  padding: 0 /* 2 */;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
blockquote {
  margin: 0;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/ProximaNova-Regular.woff") format('woff'), url("../fonts/ProximaNova-Regular.ttf") format('truetype'), url("../fonts/ProximaNova-Regular.svg#2c1459d58560f08b4b0586fbe80aa4cd") format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova Sb';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/ProximaNova-Semibold.woff") format('woff'), url("../fonts/ProximaNova-Semibold.ttf") format('truetype'), url("../fonts/ProximaNova-Semibold.svg#67a6c9f6d7dc8f35ecb08de766ea56f0") format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/ProximaNova-Light.woff") format('woff'), url("../fonts/ProximaNova-Light.ttf") format('truetype'), url("../fonts/ProximaNova-Light.svg#da6ddaf3cf69afbba47bd74b5010b98d") format('svg');
  font-style: normal;
  font-weight: 200;
}
a {
  font-family: 'ProximaNova-Semibold';
  color: #4a4a4a;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 1px;
}
.btn {
  display: inline-block;
  padding: 10px 13px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 0.9px;
}
.btn--orange {
  background: #f09235;
  color: #fff;
}
.btn--hero {
  background: rgba(0,0,0,0.32);
  color: #fff;
  padding: 11px 16px;
}
.btn--round {
  background: #1c6477;
  border-radius: 40px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  color: #6f757a;
}
.page__wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
* html .page__wrapper {
  height: 100%;
}
.page__buffer {
  height: 50px;
}
.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.lt-ie8 .container {
  zoom: 1;
}
.h1 {
  font-family: 'ProximaNova-Light';
  font-size: 44px;
  line-height: 50px;
}
h3 {
  font-size: 20px;
  color: #2f363f;
}
.leading-text {
  position: relative;
  margin-top: 77px;
}
.leading-text:after {
  content: '';
  width: 40px;
  height: 2px;
  background: rgba(255,255,255,0.37);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: -35px;
}
.avatar {
  border-radius: 50%;
}
footer {
  background: #1e758c;
  padding-top: 55px;
}
footer .btn {
  text-transform: none;
}
.footer__menu {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
}
.footer__menu li {
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
}
.footer__menu a {
  color: #fff;
  font-family: 'Proxima Nova Rg';
}
.footer__menu .mail {
  color: #6baab9;
}
.mail-footer {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -201px;
  width: 20px;
  height: 14px;
  background-repeat: no-repeat;
}
.phone-footer {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -215px;
  width: 19px;
  height: 17px;
  background-repeat: no-repeat;
}
.twitter {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -168px;
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
}
.footer__bottom {
  background: #1c6477;
  padding: 30px 0 19px;
  margin-top: 51px;
  color: #bac4c6;
  text-align: center;
  font-family: 'Proxima Nova Rg';
  font-size: 12px;
}
.footer__bottom a {
  color: #bac4c6;
  font-family: 'Proxima Nova Rg';
  font-size: 12px;
}
.formats {
  padding: 70px 0;
  font-size: 16px;
  line-height: 23px;
}
.formats .section-hero__text {
  text-align: left;
}
.formats h2 {
  color: #825084;
  font-size: 40px;
  line-height: 42px;
  margin: 0 0 26px;
}
.formats span {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 43px;
}
.formats h3 {
  color: #2693ad;
}
.formats .section-hero__img img {
  position: relative;
  left: 0;
  top: 0;
  margin-top: 0;
  -webkit-transform: none;
          transform: none;
}
.formats p + p {
  margin-top: 30px;
}
.effective {
  background: url("../img/content/effective-bg.jpg");
  background-size: cover;
  color: #fff;
}
.effective h2 {
  color: #f09235;
  font-size: 40px;
  line-height: 43px;
}
.effective .scroll {
  border-color: rgba(255,255,255,0.2);
}
.effective .scroll:after {
  border-color: rgba(255,255,255,0.2);
}
.user-sep {
  position: relative;
}
.user-sep:after {
  content: '';
  width: calc(50% - 38px);
  height: 1px;
  background: rgba(255,255,255,0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 38px;
}
.user-sep:before {
  content: '';
  width: calc(50% - 38px);
  height: 1px;
  background: rgba(255,255,255,0.2);
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
}
.user-sep img {
  max-width: 54px;
}
.quote {
  font-size: 26px;
  line-height: 32px;
}
.quote__after {
  font-size: 20px;
  line-height: 25px;
  padding: 0 3.5em;
}
.quote-sep {
  opacity: 0.22;
  position: relative;
}
.quote-sep:after {
  content: '';
  width: 38%;
  height: 1px;
  background: rgba(255,255,255,0.22);
  position: absolute;
  top: 40%;
  margin-top: -1px;
  left: 50%;
  margin-left: 25px;
}
.quote-sep:before {
  content: '';
  width: 38%;
  height: 1px;
  background: rgba(255,255,255,0.22);
  position: absolute;
  top: 40%;
  margin-top: -1px;
  right: 50%;
  margin-right: 25px;
}
.about {
  text-align: center;
}
.about .container {
  padding: 115px 83px;
}
.about__content {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.about__item {
  display: table-cell;
  width: 50%;
  padding: 55px 0 50px;
}
.about__item:first-child {
  padding-right: 137px;
  border-right: 3px solid #e3e3e3;
}
.about__item:last-child {
  padding-left: 137px;
}
.scroll {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #e3e3e3;
  margin: 140px auto 0;
  position: relative;
}
.scroll:after {
  content: '';
  width: 23px;
  height: 23px;
  border-bottom: 3px solid #e3e3e3;
  border-left: 3px solid #e3e3e3;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 40%;
  margin-top: -11px;
  margin-left: -11px;
}
.impact {
  background: url("../img/content/impact.jpg");
  background-size: cover;
  padding: 74px 0 56px;
  color: #fff;
}
.impact .section-hero__text {
  float: right;
}
.impact h2 {
  color: #f09235;
  font-size: 40px;
  line-height: 43px;
}
.drove {
  background: url("../img/content/drove-bg.jpg");
  background-size: cover;
  text-align: center;
  color: #fff;
}
.drove__content {
  width: 42%;
  margin: 0 auto;
}
.drove h2 {
  font-size: 40px;
  line-height: 43px;
  color: #23a18a;
}
.mouse {
  font-size: 18px;
  color: rgba(255,255,255,0.5);
  margin: 111px 0 64px;
  position: relative;
}
.mouse-icon {
  width: 26px;
  height: 42px;
  border-radius: 35px;
  border: 1px solid #fff;
  position: absolute;
  left: 50%;
  margin-left: -13px;
  margin-right: 0;
  top: -51px;
  opacity: 0.2;
}
.mouse-icon:after {
  content: '';
  width: 4px;
  height: 8px;
  border-radius: 12px;
  background: #fff;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -2px;
}
.scroll-icon {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -125px;
  width: 13px;
  height: 27px;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  bottom: -37px;
}
.join {
  padding: 53px 0;
  background: #4d354b;
}
.join__logos {
  width: 324px;
  float: left;
}
.join__logos:before,
.join__logos:after {
  display: table;
  content: "";
}
.join__logos:after {
  clear: both;
}
.lt-ie8 .join__logos {
  zoom: 1;
}
.join__logo {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  float: left;
  position: relative;
  background: rgba(255,255,255,0.9);
  float: left;
  z-index: 2;
}
.join__logo:last-child {
  left: -20px;
  background: rgba(255,255,255,0.5);
  z-index: 1;
}
.join__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.join__content {
  font-family: 'Proxima Nova Sb';
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff;
}
.join__content p {
  margin-bottom: 40px;
}
.video-icon {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -186px;
  width: 21px;
  height: 15px;
  background-repeat: no-repeat;
}
header {
  height: 96px;
  background: #fff;
}
.logo {
  display: inline-block;
  float: left;
  margin-top: 35px;
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px 0px;
  width: 118px;
  height: 23px;
  background-repeat: no-repeat;
}
.header__menu {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
  float: right;
  margin-top: 32px;
}
.header__menu li {
  display: inline-block;
}
.header__menu li:not(:last-child) {
  margin-right: 50px;
}
i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
i.phone {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -232px;
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
}
i.mail {
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -246px;
  width: 17px;
  height: 12px;
  background-repeat: no-repeat;
}
.say__item {
  width: 100%;
  display: table;
  padding: 89px 0 112px;
  background: url("../img/content/say-bg.jpg");
  background-size: 100% auto;
}
.say .container {
  position: relative;
}
.say__header,
.say__content {
  display: table-cell;
  width: 50%;
}
.say__content {
  position: relative;
  padding-bottom: 112px;
}
.say__content p {
  font-family: 'Proxima Nova Sb';
  font-size: 50px;
  line-height: 53px;
  color: #fff;
  position: relative;
  padding: 0 48px;
  margin: 0;
}
.say__content p:after {
  content: '';
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -65px;
  width: 37px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  top: -48px;
  left: 48px;
}
.say__content p:before {
  content: '';
  background-image: url("../img/svg-sprite/sprite.svg");
  background-position: 0px -95px;
  width: 37px;
  height: 30px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -48px;
  left: 48px;
}
.say__content:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 19.5px 18px 19.5px 0;
  border-color: transparent #1e758c transparent transparent;
  position: absolute;
  left: -18px;
  bottom: 50px;
}
.say h2 {
  font-family: 'Proxima Nova Lt';
  font-size: 50px;
  line-height: 53px;
  color: purple-colorm 0;
  margin: 0;
}
.say__user {
  display: table;
  width: 148px;
  position: absolute;
  left: 50%;
  margin-left: -166px;
  bottom: 25px;
}
.say__user-item {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  width: 74px;
  text-align: center;
  padding: 12px 0;
}
.say__user-item:first-child {
  border-right: 3px solid #e3e3e3;
}
.use-cases {
  background: #e3e3e3;
  text-align: center;
  padding: 70px 0 120px;
}
.use-cases h3 {
  font-size: 28px;
  color: #4d354b;
  margin-bottom: 67px;
}
.use-cases__item {
  display: inline-block;
  width: 32.3333%;
  font-size: 18px;
  color: #2f363f;
  margin-bottom: 30px;
}
.scroll-dark {
  border-color: #d3d3d3;
  margin: 110px auto 0;
}
.scroll-dark:after {
  border-color: #d3d3d3;
}
.section-full {
  height: 100vh;
  overflow: hidden;
}
header + .section-full {
  height: calc(100vh - 96px);
  overflow: hidden;
}
.section-hero {
  padding: 152px 0 180px;
  background: url("../img/general/hero-bg.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'ProximaNova-Regular';
  font-size: 23px;
}
.section-hero:before,
.section-hero:after {
  display: table;
  content: "";
}
.section-hero:after {
  clear: both;
}
.lt-ie8 .section-hero {
  zoom: 1;
}
.section-hero__text {
  width: 57%;
  float: left;
  text-align: center;
}
.section-hero__img {
  position: relative;
  width: 32%;
  float: right;
}
.section-hero__img:before {
  content: '';
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.section-hero__img img {
  position: absolute;
  left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
