header
    height 96px
    background #fff

.logo
    display inline-block
    float left
    margin-top 35px
    bg-svg($logo)

.header__menu
    m-nl()
    float right
    margin-top 32px

    li
        display inline-block

        &:not(:last-child)
            margin-right 50px
i
    display inline-block
    vertical-align middle
    margin-right 8px

i.phone
    bg-svg($phone-icon)

i.mail
    bg-svg($mail-icon)
