mixin header(data)
    header
        .container
            a.logo(href="/")
            
            ul.header__menu
                li
                    i.phone
                    a(href="tel:+44 (0) 207 424 7934") +44 (0) 207 424 7934
                        
                li
                    i.mail
                    a(href="mailto:sales@releasd.com") sales@releasd.com
                        
                li
                    a.btn.btn--orange(href="http://releasd.com/tour") FREE DEMO    
