.section-full
    height 100vh
    overflow hidden

header + .section-full
    height calc(100vh - 96px)
    overflow hidden

.section-hero
    m-cf()
    padding-top 6.6em //~152px
    background url('../img/general/hero-bg.jpg')
    background-size cover
    color #fff
    font-family 'ProximaNova-Regular'

.section-hero__text
    width 57%
    float left
    text-align center
    position relative

    .scroll
      bottom -100px

.section-hero__img
    position relative
    width 32%
    float right
    &:before
        content ''
        width 100%
        padding-top 100%
        border-radius 50%
        background #fff
        position absolute
        top 0
        left 0

    img
        position absolute
        left 50%
        margin-top 50%
        transform translate(-50%, -50%)
        z-index 1
