mixin hero(data)
    section.section-full.section-hero
        .container
            .section-hero__text
                span.h1
                    | “The simplicity of Releasd
                    br
                    | just means that everyone finds it much easier to do their job.”
                    
                p.leading-text See how IHG’s communication
                    br
                    | team increases stakeholder engagement
                    br
                    | through improved reporting.
                
                a.btn.btn--hero(href="#caseStudy") READ THE CASE STUDY
                
            .section-hero__img
                img(src="%=staticPrefix=%img/content/hero-img.png", alt="")
